*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #A0D1C5;
    color: #62313d;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.main-list {
    width: 50vw;
    border: 1px solid #62313d;
}

.details-list li {
    justify-content: space-between;
}

li {
    font-size: 40px;
    display: flex;
    align-items: center;
}

.free {
    color: aliceblue;
}

.booked {
    color: blue;
}

#triangle-left {
    position: absolute;
    left: 15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid navy;
    border-bottom: 15px solid transparent;
    border-radius: 10%;
    filter: drop-shadow(16px 16px 20px aqua) ;
  }


#square {
    position: absolute;
    width: 30px;
    height: 30px;
    background: navy;
    border-radius: 10%;
    filter: drop-shadow(6px 6px 20px aqua) ;
  }

.projector {
    width: 45px;
    height: 30px;
    position: relative;
    margin: 10px auto;
    
}