*, ::after, ::before {
    box-sizing: border-box;
}

/* kolory: */
/* white: #FBF5F3  */
/* gray: #A0A0A0 */
/* yellow: #E28413 */
/* blue: #000022 */

/* czcionka:  */
/* Karla Extra Light 200 */
/* Karla Regular 400*/
/* Karla Medium 500*/
/* Karla Bold 700*/


body {
    /* display: flex; */
    min-height: 100vh;
    background-color: #FBF5F3;
    color: #000022;
    /* justify-content: center;
    align-items: center; */
    font-family: Helvetica, sans-serif;
    overflow: hidden;
    font-family: 'Karla', sans-serif;
}

/* .mainContainer {
    display: flex;
    width: 80vw;
    margin: auto;
} */

.navContainer {
margin: 5em;
padding-left: 2em;
max-height: 10vh;
}

.functionContainer{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    height: 70vh;
    border: 1px solid #000022;
}

.searchContainer {
    flex: 100%;
    height: 15%;
    border-bottom: 1px solid #000022;
}
.sideContainer {
    flex: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2em;
}

hr {
    height: 2px;
    width: 80%;
}

.sideContainer h2 {
    font-weight: 200;
    text-align: center;
}

.scrollingList {
    flex: 70%;
    height: 85%;
    border: 1px dashed green;
}
.roomsListContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
}
 ul {
    list-style: none;
 }

.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #62313d;
    width: 100%;
    padding: 2em 0 1em 1em;
    margin: 0;
    /* justify-content: space-around; */
}

.main-list:hover {
    color: #E28413;
    /* cursor: pointer; */
}

.listDetails {
    flex: 25%;
}

.listFunctions {
    flex: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    align-items: flex-end;
}

.listFunctions li {
    padding-bottom: .5em;
}

.listItemName {
    font-size: 40px;
    padding-bottom: .5em;
    flex: 50%
}

.listItemDetails {
    font-size: 1em;
    padding-bottom: .5rem;
}

.free {
    color: #000022;
}

.booked {
    color: #A0A0A0;
}
